<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkillMatch Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.first_name }}</p>
        {% if user.username not in students %}
            <div>Visit <a href="{% url 'skillMatch:profile_create' %}">here </a>to make a profile</div>
        {% endif %}
        <div>Visit <a href="{% url 'skillMatch:index' %}">here </a>to see users</div>
    {% else %}
    <div align="center">
        <h1>Welcome to SkillMatch! Start by logging in.</h1>
        <font size="16"><a class="btn btn-primary" href="{% url 'login' %}">Log in</a></font>
    </div>
    {% endif %}
</body>