<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkillMatch Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.first_name }}</p>
        <div>Visit <a href="{% url 'skillMatch:profile_create' %}">here </a>to make a profile</div>
        <div>Visit <a href="{% url 'skillMatch:index' %}">here </a>to see users</div>
        <p>Logged in as {{ user.username }}</p>
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>Welcome to SkillMatch! Start by logging in.</p>
        <a class="btn btn-primary" href="{% url 'login' %}">Log in</a>
    {% endif %}
</body>