{% extends 'base.html' %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkillMatch Home</title>
</head>

{% block search %}
<form class="search" action="{% url 'skillMatch:student_list' %}" method='get'>
    <input type="search" placeholder="search students" name="usr_query" value='{{ student_name }}' required>
    <button type="submit">Search</button>
</form>
{% endblock %}

<body>
    {% block content %}
        {% if user.is_authenticated %}
            <p class="display-4">Hello, {{ user.first_name }}</p>
            <div>Visit <a href="{% url 'skillMatch:student_edit' user.student.pk %}">here </a>to edit your profile</div>
            <div>Visit <a href="{% url 'skillMatch:index' %}">here </a>to see students</div>
        {% else %}
            <div align="center">
                <h1>Welcome to SkillMatch! Start by logging in.</h1>
                <font size="16"><a class="btn btn-primary" href="{% url 'login' %}">Log in</a></font>
            </div>
        {% endif %}
    {% endblock %}
</body>