{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="main">
    <ul class="actions">
        <li><a href = "{% url 'skillMatch:skill_create' %}" class="button large">Create a New Skill</a></li>
    </ul>
    {% if skills %}
        <ul>
            {% for skill in skills %}
				<article class="post">
					<header>
						<div class="title">
							<h2>{{ skill.name }}</h2>
						</div>
					</header>

					<footer>
						<ul class="actions">
							<li><a href = '{% url "skillMatch:add_skill" user.username skill.id %}' class="button large">Add this skill</a></li>
						</ul>
					</footer>
				</article>
            {% endfor %}
        </ul>
    {% else %}
        No matching skills.
    {% endif %}
 </div>
{% endblock %}
