{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">{{ person.get_full_name }} </a></h2>
				<p>Student at the University of Virginia</p>
			</div>
			<div class="meta">
				<!-- Maybe add a graduation date or time spent at UVa? -->
				<!-- <time class="published" datetime="2015-11-01">November 1, 2015</time> -->
				<a href="#" class="author">
					<img src="{{ picture.url }}" class="img-responsive"/>
				</a>
			</div>
		</header>
		
		<!-- <span class="image featured">
			<img src="images/pic01.jpg" alt="" />
		</span> -->
		
		<div class="bio">
			<h2>
				Bio:
			</h2>
			{% if person.student.bio %}
				<p>{{ person.student.bio }}</p>
			{% else %}
				{% if user == person %}
					<p>You haven't input a bio yet!</p>
				{% else %}
					{{ person.get_full_name }} hasn't input a bio yet.
				{% endif %}
			{% endif %}
		</div>
		
		<br>

		<div class="classes">
			<h2>
				Classes:
			</h2>
			{% if person_classes %}
				<ul>
					{% for class in person_classes %}
						{{ class }} <br>
					{% endfor %}
				</ul>
			{% else %}
				{% if user == person %}
					<p>You haven't input any classes yet!</p>
				{% else %}
					{{ person.get_full_name }} hasn't input any classes yet.
				{% endif %}
			{% endif %}
		</div>

		<br>

		<div class="skills">
			<h2>
				Skills:
			</h2>
			{% if person_skill %}
				<ul>
					{% for skill in person_skills %}
						{{ skill }} <br>
					{% endfor %}
				</ul>
			{% else %}
				{% if user == person %}
					<p>You haven't input any skills yet!</p>
				{% else %}
					{{ person.get_full_name }} hasn't input any skills yet.
				{% endif %}
			{% endif %}
		</div>
		
		<footer>
			{% if user == person %}
				<a href="{% url 'skillMatch:student_edit' person.username %}" class="button large previous">Edit Profile</a>
			{% endif %}
		</footer>
	</article>
</div>
{% endblock %}