{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block search %}
  <form class="search" action="{% url 'skillMatch:student_list' %}" method='get'>
      <input type="text" placeholder="search students" name="usr_query" value='{{ student_name }}' required>
      <button type="submit">Search</button>
  </form>
{% endblock %}

{% block content %}
    {% if matching_students %}
        <ul>
            {% for person in matching_students %}
				<article class="post">
					<header>
						<div class="title">
							<h2><a href={% url 'skillMatch:profile' person.user %}>{{ person.user.get_full_name }}</a></h2>
						</div>
						<div class="meta">
							<a href="#" class="author">
								<span class="name">
									{{ person.name }}
								</span>
								<img src="{{ person.picture.url }}" class="img-responsive"/>
							</a>
						</div>
					</header>

					<a href="single.html" class="image featured">
					</a>

					<p>{{ person.bio }}</p>

					<footer>
						<ul class="actions">
							<li><a href="single.html" class="button large">Add Friend</a></li>
						</ul>
						<ul class="stats">
							<li><a href="#">General</a></li>
							<li><a href="#" class="icon fa-heart">28</a></li>
							<li><a href="#" class="icon fa-comment">128</a></li>
						</ul>
					</footer>
				</article>
            {% endfor %}
        </ul>
    {% else %}
        No matching students
    {% endif %}
{% endblock %}