{% extends 'skillMatch/profile.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div align="center">
    <h1>{{person.name}}</h1>
    Sex: {{person.sex}}
    <br>
    <br>
    Bio: {{person.bio}}
    <br>
    <br>
    Classes:
        <ul>
        {% for class in person_classes %}
            {{ class }} <br>
        {% endfor %}
        </ul>
    Skills:
        <ul>
        {% for skill in person_skills %}
            {{ skill }} <br>
        {% endfor %}
        </ul>

    <a href="{% url 'skillMatch:student_edit' person.pk %}"> Edit Profile </a>
    </div>
{% endblock %}