{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="main">
    {% if matching_students %}
        <ul>
            {% for person in matching_students %}
				<article class="post">
					<header>
						<div class="title">
							<h2><a href={% url 'skillMatch:profile' person.user %}>{{ person.user.get_full_name }}</a></h2>
						</div>
						<div class="meta">
							<a href="#" class="author">
								<!-- <span class="name">
									{{ person.name }}
								</span> -->
								<img src="{{ person.picture.url }}" class="img-responsive" />
							</a>
						</div>
					</header>

					<p>Bio: {{ person.bio }}</p>

					<footer>
						{% if user.username %}
							{% if person == user.student %}
								<h4>Your Profile</h4>
							{% elif person in user.student.friends.all %}
								<h4>Already friends!</h4>
							{% else %}
							<form action="{% url 'skillMatch:addfriend' person.user %}" method="post">
									{% csrf_token %}
									<input type="submit" class="button large" value="Add Friend">
							</form>
							{% endif %}
						{% endif %}
			
					<!-- <ul class="actions">

					</ul> -->
{#						<ul class="stats">#}
{#							<li><a href="#">General</a></li>#}
{#							<li><a href="#" class="icon fa-heart">28</a></li>#}
{#							<li><a href="#" class="icon fa-comment">128</a></li>#}
{#						</ul>#}
					</footer>
				</article>
			</ul>
            {% endfor %}


	{% elif matching_classes %}
		<ul>
			{% for class in matching_classes %}
				<article class="post">
					<header>
						<div class="title">
							<h2><a href='#'>{{ class }}</a></h2>
						</div>
					</header>

					<footer>
							{% if user.username %}
							{% if person == user.student %}
								<h4>Your Profile</h4>
							{% elif person in user.student.classes.all %}
								<h4>Already friends!</h4>
							{% else %}
							<form action="{% url 'skillMatch:add_class' person.user %}" method="post">
									{% csrf_token %}
									<input type="submit" class="button large" value="Add Class">
								</form>
								{% endif %}
						{% endif %}
		
{#						<ul class="stats">#}
{#							<li><a href="#">General</a></li>#}
{#							<li><a href="#" class="icon fa-heart">28</a></li>#}
{#							<li><a href="#" class="icon fa-comment">128</a></li>#}
{#						</ul>#}
					</footer>
				</article>
			{% endfor %}
		</ul>

	{% elif matching_skills %}
		<ul>
			{% for skill in matching_skills %}
				<article class="post">
					<header>
						<div class="title">
							<h2><a href="#">{{ skill }}</a></h2>
						</div>
					</header>

					<footer>
							{% if user.username %}
							{% if person == user.student %}
								<h4>Your Profile</h4>
							{% elif person in user.student.skills.all %}
								<h4>Already friends!</h4>
							{% else %}
							<form action="{% url 'skillMatch:add_skill' person.user %}" method="post">
									{% csrf_token %}
									<input type="submit" class="button large" value="Add Skill">
								</form>
								{% endif %}
						{% endif %}
			
{#						<ul class="stats">#}
{#							<li><a href="#">General</a></li>#}
{#							<li><a href="#" class="icon fa-heart">28</a></li>#}
{#							<li><a href="#" class="icon fa-comment">128</a></li>#}
{#						</ul>#}
					</footer>
				</article>
			{% endfor %}
    {% else %}
        No matching results.
    {% endif %}
 </div>
{% endblock %}